<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    {% inline_editor %}
  </head>
  <body>
  	ENGLISH
    {% block 'main' %}
    {% endblock %}
  </body>
</html>